@using PetShop.Models;
@using PetShop.Models.Enums;
@using PetShop.Blazor.Shared.DTO.Pet;

@page "/pet/edit/{Id:int?}"

@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if (Pet == null)
{
    <Spinner />
}
else
{

    @if (Id == null)
    {
        <PageTitle>New Pet - Pet Shop Retail System</PageTitle>
        <h1 class="mb-5">New Pet</h1>
    }
    else
    {
        <PageTitle>Edit Pet - Pet Shop Retail System</PageTitle>
        <h1 class="mb-5">Edit Pet</h1>
    }

    <EditForm Model="Pet" OnValidSubmit="OnSave">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Breed</label>
                <InputText class="form-control" type="text" placeholder="Enter customer's name" @bind-Value=@Pet.Breed required />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Type of Pet</label>
                    <InputSelect class="form-select" placeholder="Enter the pet's type'" @bind-Value="Pet.AnimalType">
                    @foreach (var enumValue in Enum.GetValues<AnimalType>())
                    {
                        <option value="@enumValue">@enumValue</option>
                    }
                    </InputSelect>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Health Status</label>
                <InputSelect class="form-select" placeholder="Enter the pet's health status'" @bind-Value="Pet.PetStatus">
                    @foreach (var enumValue in Enum.GetValues<PetStatus>())
                    {
                        <option value="@enumValue">@enumValue</option>
                    }
                </InputSelect>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Price</label>
                <InputNumber class="form-control" type="number" placeholder="Enter the pet's price" @bind-Value=@Pet.Price/>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Cost</label>
                <InputNumber class="form-control" type="number" placeholder="Enter the pet's cost" @bind-Value=@Pet.Cost />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-warning" @onclick="OnCancel">Cancel</button>
            </div>
        </div>
    </EditForm>

    <style>
        input:required:valid {
            border-color: green;
            border-width: 3px;
        }

            input:required:invalid {
                border-color: #c00000;
            border-width: 5px;
            }
    </style>
}


@code {

    [Parameter] public int? Id { get; set; }

    PetEditDto? Pet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Pet = new();
        }
        else
        {
            Pet = await httpClient.GetFromJsonAsync<PetEditDto>($"pet/{Id}");
        }
    }

    private void OnCancel()
    {
        navigationManager.NavigateTo("pet");
    }

    private async Task OnSave()
    {
        HttpResponseMessage? response = null;
        if (Id == null)
        {
            response = await httpClient.PostAsJsonAsync("pet", Pet);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("pet", Pet);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("pet");
    }

}
