@inherits LayoutComponentBase

<div class="page min-vh-100">
    <div class="site-header">
        <NavMenu />
    </div>

    <main class="site-main">
        <div class="wrapper">
            @Body
        </div>
    </main>
</div>

