<div class="site-title">
    <div class="wrapper">
        <a href="" class="fs-4">Pet Shop Retail System</a>
    </div>
</div>

<nav class="site-nav">
    <div class="wrapper">

        <div class="nav-item">
            <NavLink href="employee" class="btn btn-light">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="customer" class="btn btn-light">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="pet" class="btn btn-light">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Pets
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="petfood" class="btn btn-light">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Pet Food
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="petreport" class="btn btn-secondary">
                <span class="oi oi-info" aria-hidden="true"></span> Pet Report
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="monthlyLedger" class="btn btn-secondary">
                <span class="oi oi-info" aria-hidden="true"></span> Pet Shop Monthly Ledger
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="transaction" class="btn btn-success">
                <span class="oi oi-cart" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>

    </div>
</nav>