<div class="site-title">
    <div class="wrapper">
        <a href="" class="fs-4">Pet Shop Retail System</a>
    </div>
</div>

<nav class="site-nav">
    <div class="wrapper">

        <div class="nav-item">
            <NavLink href="employee" class="btn btn-light">
                <span class="oi oi-person" aria-hidden="true"></span> Employee
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="customer" class="btn btn-light">
                <span class="oi oi-person" aria-hidden="true"></span> Customer
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="pet" class="btn btn-light">
                <span class="oi oi-person" aria-hidden="true"></span> Pet
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="petfood" class="btn btn-light">
                <span class="oi oi-person" aria-hidden="true"></span> Pet Food
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="transaction" class="btn btn-light">
                <span class="oi oi-calculator" aria-hidden="true"></span> Transaction
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink href="motnhlyLedger" class="btn btn-light">
                <span class="oi oi-calculator" aria-hidden="true"></span> Monthly Ledger
            </NavLink>
        </div>

    </div>
</nav>