@page "/"
@using FuelStation.Web.Blazor.Shared.Validators;
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@layout LoginLayout

<section class="vh-100" style="background-color: #b3b3b3;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-7">
                <div class="card" style="border-radius: 4rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form>

                                    <h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Account Login</h4>

                                    <div class="form-outline mb-4">
                                        <input @bind="@username" id="Username" class="form-control form-control-lg" placeholder="Enter Username" />
                                        <label class="form-label" for="form2Example17">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input @bind="@password" type="password" id="passwordForm" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example27" placeholder="Enter Password">Password</label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button" @onclick="() => OnLogin()"> Login</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private string password = "";
    private string username = "";
    private Validator validator = new Validator();

    protected async void OnLogin()
    {
        //int temp = validator.LoginCred(username, password);
        if (username == "manager" && password == "manager")
        {
            navigationManager.NavigateTo("/index");
        }
        else if (username == "cashier" && password == "cashier")
        {
            navigationManager.NavigateTo("/customer");
        }
        if (username == "staff" && password == "staff")
        {
            navigationManager.NavigateTo("/item");
        }
    }
}
