@page "/"

<PageTitle>Pet Shop Retail System</PageTitle>

<p>App using .NET 7 with Blazor WebAssembly — Data provided by a Local Database. Designed and developed by George Kosmaras and Ioannis Koukotzilas for Epsilon Net Coding School 2023. Thanks for checking this out.</p>

