@page "/"

<PageTitle>Pet Shop Retail System</PageTitle>

<p><small>Running on .NET with Blazor WebAssembly — Data provided by a local database. App designed and developed by George Kosmaras and Ioannis Koukotzilas for Epsilon Net Coding School 2023. Thanks for checking this out.</small></p>

