@page "/petreport"
@using PetShop.Blazor.Shared.DTO.Ledgers;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>PetReport</h3>


@if (loading)
{
    <div>
        <div class="spinner-border" role="status"></div>
        The page is loading...
    </div>
}
else
{
    <table class=" table table-striped table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Animal type</th>
                <th>Total sold</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in report)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@item.Month</td>
                    <table>
                        @foreach (var animal in item.AnimalTypes)
                        {
                            <td>@animal</td>
                        }
                    </table>
                    <td>@item.TotalSold</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<PetReportDto> report = new();
    bool loading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (report == null)
        {
            throw new ArgumentNullException();
        }
        await LoadItemsFromServer();
        loading = false;
    }
    private async Task LoadItemsFromServer()
    {
        report = await httpClient.GetFromJsonAsync<List<PetReportDto>>("petreport");
    }
}
