@page "/petreport"
@using PetShop.Blazor.Shared.DTO.Ledgers;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h1 class="mb-5">Pet Report</h1>


@if (loading)
{
    <Spinner />
}
else
{
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Animal type/Total sold</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in report)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@item.Month</td>
                    <table>
                        <td>
                            <ul>
                                @foreach (var animal in item.AnimalTypes)
                                {
                                    <li>@animal</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @foreach (var sold in item.TotalSold)
                                {
                                    <li>@sold</li>
                                }
                            </ul>
                        </td>
                    </table>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<PetReportDto> report = new();
    bool loading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (report == null)
        {
            throw new ArgumentNullException();
        }
        await LoadItemsFromServer();
        loading = false;
    }
    private async Task LoadItemsFromServer()
    {
        report = await httpClient.GetFromJsonAsync<List<PetReportDto>>("petreport");
    }
}
